html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
h1{
    margin-bottom: 5% !important;
    margin-top: 0 !important;
    text-align: center !important;
    font-size: xx-large !important;
}
.pusher {
    padding: 0.5rem !important;
}
.ui.small.images{
    text-align: center;
}
.ui.small.images img{
    padding: 2rem;
    transition-duration: 500ms;
}
.ui.small.images img:hover{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

.circular.ui.icon.button {
    filter: opacity(0.5);
    cursor: pointer;
    position: fixed;
    right: 1%;
    top: 1%;
    font-size: x-large;
    z-index: 99999;
    -webkit-filter: opacity(0.5);
}

.circular.ui.icon.button:hover {
    filter: opacity(1);
    -webkit-filter: opacity(1);
}

.separateur {
    width: 100%;
    border-top: 1px solid silver;
    margin-bottom: 5%;
}

img {
    width: 100%;
}

.ui.container, .ui.segment {
    margin-top: 2rem;
}

.item {
    cursor: pointer;
}

.ui.list>.item {
    padding: 0.5rem;
}

.ui.medium.image {
    width: 15rem;
    margin: 0 auto;
}

.column .ui.segment {
    height: 95vh;
    overflow: auto;
}
.column .ui.segment div {
    text-align: justify;
}
#projects .column .ui.segment {
    height: 33.33vh;
    overflow: auto;
}

#infos {
    display: flex;
    align-items: center;
    place-content: center;
}

#infos .ui.list {
    font-size: larger;
}

#header-search {
    font-size: larger;
    text-align: justify;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
    .circular.ui.icon.button {
        filter: opacity(1);
        -webkit-filter: opacity(1);
    }
    .column .ui.segment{
        height: auto !important;
    }
    .pusher {
        padding: 0 !important;
    }
    #root {
        margin-top: 20% !important;
    }
    .ui.two.column.very.relaxed.grid {
        margin: 0 !important;
    }
    .ui.container {
        margin: 0 !important;
    }
    .ui.container .ui.header, .ui.container .content {
        padding: 1rem;
    }
    .ui.item.menu {
        display: block;
    }
    .ui.item.menu>.item {
        width: 100% !important;
    }
    .ui.segment {
        padding: 1rem;
        border: 0;
        border-bottom: 2px solid silver !important;
        box-shadow: none;
    }
    #infos {
        padding: 0.5rem;
    }
    #infos>.ui.list {
        font-size: x-small;
    }
    .ui.list>.ui.item {
        padding: 0 0 0.5rem 0 !important;
        width: 90%;
    }
    .ui.medium.image {
        width: 5rem;
    }
    .ui.vettical.icon {
        display: none !important;
    }
    .ui.segment h2, .ui.segment h4, .ui.segment h5 {
        padding: 5px;
    }
    .ui.column.grid {
        display: grid !important;
    }
    .ui.column.grid>.column {
        width: 100% !important;
    }
    .ui.vertical.divider{
        display: none !important;
    }
}